.Banner__header{
    .mobile_navigation{
        .nav_links{
            .link1-intersect{
                color: var(--main-color);
            }
            .link2-intersect{
                color: var(--main-color);
            }
            .link3-intersect{
                color: var(--main-color);
            }
            .link4-intersect{
                color: var(--main-color);
            }
            .link5-intersect{
                color: var(--main-color);
            }
            .link6-intersect{
                color: var(--main-color);
            }
        }
    }
}